.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-modal-sheet .modal-footer {
  padding-bottom: 2rem;
}
