/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
