.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dropdown-item-danger {
  color: var(--bs-red);
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dropdown-item-danger:hover,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-btn-hover-light {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-btn-hover-light:hover,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-btn-hover-light:focus {
  color: var(--bs-link-hover-color);
  background-color: var(--bs-tertiary-bg);
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-month,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-days,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-weekday,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-btn:not([disabled]) {
  font-weight: 500;
  color: var(--bs-emphasis-color);
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-btn:hover,
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-btn:focus {
  background-color: var(--bs-secondary-bg);
}
.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-w-220px {
  width: 220px;
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-w-280px {
  width: 280px;
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-w-340px {
  width: 340px;
}

.dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-dx-opacity-10 {
  opacity: .1;
}
